.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color:darkturquoise;
  color: white;
}
header nav ul li {
  display:inline-block;
  margin: 10px;
  font-family: 'Pacifico', cursive;
}

header nav ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
header h1{
  font-family: 'Righteous', cursive;
}
h1:hover{
  text-decoration:underline;
  color:greenyellow;
}
a:hover {
  text-decoration:underline;
  color:greenyellow;
}

.body-container {
  position: relative;
  height:75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.nom {
  position: relative;
  font-family: 'Bree Serif', serif;
  color:darkorange;
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
}
.Texte-Home{
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color:indigo;
}

h2 {
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.profilePic{
  height: 10em;
  width: 10em;
  border-radius: 80px;
  filter: brightness(150%) contrast(120%);
  margin: 0 auto;
}

.Box{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  height: 250px; /* set the height of the box */
  max-width: 700px;
  min-width: 400px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(2.9,2.9,2.9,2.0); /* ajoute une ombre */
  transition: all 0.5s Fade-in-out;
  border-radius: 15px;
}
.Box:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0,3.5); /* augmente l'intensité de l'ombre au survol */
  transform: scale(1.01); /* agrandit légèrement la taille de la boîte au survol */
}

.Box-Paragraph{
  text-align: center;
  position: absolute;
  font-size: 1.05rem;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  color: white;
  animation: bounce 0.5s;
}

.small-Box-container{
  display: flex;
  flex-direction: row;
}

.small-Box{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  margin: 30px;
  background-color:darkturquoise;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(2.9,2.9,2.9,2.0);
}

.small-Box:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,3.5); /* augmente l'intensité de l'ombre au survol */
  transform: scale(1.01); 
}
.small-Box-titre{
  font-size: 1.3rem;
  font-family: 'Righteous', cursive;
}
.small-Box-Texte{
  font-family: 'Bree Serif', serif;
  font-size: 1rem;
}
.album-container {
  position: relative; /* ou toute autre hauteur minimale appropriée */
}

.Albumbackground-image{
  position: absolute;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.9;
  top: 0;
}

/* styles pour les écrans larges */
.card-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 400px;
  top: 30px;
  margin-bottom: 30px;
  left: 10px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .card-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 320px;
    height: 400px;
    margin-bottom: 30px;
  }
  
  .card img {
    height: 100%;
  }
  
  .card-content {
    padding: 10px;
    font-size: 20px;
  }
}

.my-section {
  display: flex;
  position: relative;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  background-color:lightseagreen;
}

.my-section-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-section-item a {
  margin: 30px;
}

/*
font-family: 'Bree Serif', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
*/

@media only screen and (max-width: 768px) {
  .small-Box-container {
    flex-direction: column;
  }

  .small-Box-container > div {
    margin: 0 0 30px;
  }
  .small-Box{
    height: 100px;
  }
}


@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}